<div class="widgets">

  <div class="row">
    <div class="col-md-12 panel">
         <h3>Inline Form</h3>
      <div ng-include="'form/layouts/widgets/inlineForm.html'"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
<div class="panel">
	<h3>Basic Form</h3>
        <div ng-include="'form/layouts/widgets/basicForm.html'"></div>
      </div>

<div class="panel">
	<h3>Horizontal Form</h3>
        <div ng-include="'form/layouts/widgets/horizontalForm.html'"></div>
      </div>
    </div>
    <div class="col-md-6">
<div class="panel">
	<h3>Form Without Labels</h3>
        <div ng-include="'form/layouts/widgets/formWithoutLabels.html'"></div>
      </div>
<div class="panel">
	<h3>Block Form</h3>
        <div ng-include="'form/layouts/widgets/blockForm.html'"></div>
      </div>
    </div>
  </div>

</div>